# List comprehension  

__Its basically a flattened for loop used only for appending elements to a list For example we want to make a list out of the letters of a string:__

In [2]:
mylist = [] # empty

for item in 'Example':
    mylist.append(item)
    
mylist

['E', 'x', 'a', 'm', 'p', 'l', 'e']

__We are able to do this with only one line of code__

In [4]:
mylist = [item for item in 'Example']

mylist

['E', 'x', 'a', 'm', 'p', 'l', 'e']

__It is possible to use numbers too__

In [6]:
mylist = [num for num in range(0,10)] # creates a list from 0 to 9

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

__Can add an operation for each iteration__

In [7]:
mylist = [num**2 for num in range(0,10)] # each element is eleveted to the power of 2
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

__Can add an if statement__

In [8]:
mylist = [num for num in range(0,11) if num%2 == 0]  # returns even numbers between 0 and 11
mylist

[0, 2, 4, 6, 8, 10]

__Can add an if-else statement too, but the order is different__

In [9]:
mylist = [num if num%2 == 0 else 'NOT EVEN' for num in range(0,11)] 
mylist

[0, 'NOT EVEN', 2, 'NOT EVEN', 4, 'NOT EVEN', 6, 'NOT EVEN', 8, 'NOT EVEN', 10]

__It is also possible to add nested for loops but it becomes very difficult to read__

Nested for loop example:

In [11]:
mylist = [] 

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

__The list comprehension version of it is the following__

In [12]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]