# Sets
__Sets__ are a collection of __unique__ and __unordered__ values.  
You can declare an empty set add eventually add values to it with the  
__add__ method.

In [4]:
mySet = set()
mySet #empty set

set()

In [6]:
mySet.add(1)
mySet

{1}

In [7]:
mySet.add('value')
mySet

{1, 'value'}

the value __'1'__ is already in the set, so if we try to add it again, it wont duplicate it nor generate any error

In [8]:
mySet.add(1)
mySet

{1, 'value'}

### it is possible to cast a list into a set to extract a all the unique values in it

In [9]:
myList = [1,1,1,1,2,2,2,2,2,3,3,3]
uniqueList = set(myList)
uniqueList

{1, 2, 3}

### It is also possible to use it on strings to extract the unique letters in it

In [10]:
uniqueLetters = set('Mississippi')
uniqueLetters

{'M', 'i', 'p', 's'}